Package: com.xiva.minimalxi
Name: MinimalXI
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XIVA
Author: XIVA
Section: Tweaks
