Package: com.xiva.minimalxi
Name: MinimalXI
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XIVA
Author: XIVA
Section: Tweaks
