{
	title =  "MinimalXI";
	entry = {
		cell = PSLinkCell;
	};
	items = (
		{
			cell = PSGroupCell;
			defaults = "com.xiva.minimalxi";
			label = "IOS 12 CONCEPT STYLE UI";
		},
		{
			cell = PSSwitchCell;
			default = true;
			defaults = "com.xiva.minimalxi";
			key = "enableConcept";
			label = "Enable IOS 12 Concept UI";
			PostNotification = "com.xiva.minimalxi-prefsreload";
		},
	);
}
