{
	title =  "MinimalXI";
	entry = {
		cell = PSLinkCell;
	};
	items = (
		{
			cell = PSGroupCell;
			defaults = "com.xiva.minimalxi";
			label = "Home Screen | Folder";
		},
		{
			cell = PSSwitchCell;
			default = true;
			defaults = "com.xiva.minimalxi";
			key = "hideFolderBg";
			label = "Hide Folder Background";
			PostNotification = "com.xiva.minimalxi-prefsreload";
		},
		{
			cell = PSSwitchCell;
			default = true;
			defaults = "com.xiva.minimalxi";
			key = "hideFolderBlur";
			label = "Hide Folder Blurry Background";
			PostNotification = "com.xiva.minimalxi-prefsreload";
		},
		{
			cell = PSSwitchCell;
			default = true;
			defaults = "com.xiva.minimalxi";
			key = "hideFolderIcon";
			label = "Hide Folder Icon";
			PostNotification = "com.xiva.minimalxi-prefsreload";
		},
		{
			cell = PSSwitchCell;
			default = true;
			defaults = "com.xiva.minimalxi";
			key = "showNameBg";
			label = "Show Folder Name Background";
			PostNotification = "com.xiva.minimalxi-prefsreload";
		},
		{
			cell = PSGroupCell;
			defaults = "com.xiva.minimalxi";
			label = "Home Screen | App Icons";
		},
		{
			cell = PSSwitchCell;
			default = true;
			defaults = "com.xiva.minimalxi";
			key = "hideIconLabels";
			label = "Hide Icon Labels";
			PostNotification = "com.xiva.minimalxi-prefsreload";
		},
		{
			cell = PSSwitchCell;
			default = true;
			defaults = "com.xiva.minimalxi";
			key = "hideBadgeCount";
			label = "Hide Badge Count";
			PostNotification = "com.xiva.minimalxi-prefsreload";
		},
	);
}
